# general
*.DS_Store

# tex related
*.gz
*.aux
*.bbl
*.blg
*.log

# literature folder
/literatur/*
/submission/*

# R related
*.Rhistory
*.Rproj
r_project/results/data_out/*
r_project/results/data_out_2025/*
r_project/results/data_out_2025-emp/*
r_project/results/data_out_2026-emp*
r_project/results/data_out_2025-2/*
r_project/results/data_idi/*
r_project/results/data_idi_published_2024/*
*result_msci_market_factors*
r_project/empirical/nav_returns/*
r_project/empirical/data_in/*
r_project/empirical/data_private_public/*
r_project/empirical/data_prepared/*
r_project/empirical/data_prepared_2026/*
r_project/empirical/data_prepared_main/*
r_project/empirical/data_prepared_sim/*
r_project/simulation/data_prepared_sim/*
r_project/simulation/data_prepared_sim-test2026*
r_project/simulation/data_results_sim/*
r_project/simulation/data_out_2026_new/*

!r_project/data_out/cache_q_factors_EW_VYP_SL
!r_project/data_out/cache_q_factors_FW_VYP_SL
!r_project/data_out/cache_q_factors_EW_2011
!r_project/data_out/cache_q_factors_FW_2011

!r_project/data_out/cache_simulation_1000
!r_project/simulation/data_results_sim/data_out_2020
.Rproj.user
