# general
*.DS_Store

# tex related
*.gz
*.aux
*.bbl
*.blg
*.log

# literature folder
/literatur/*

# R related
*.Rhistory
*result_msci_market_factors*
r_project/data_in/*
r_project/data_out/*
!r_project/data_out/cache_q_factors_EW