# general
*.DS_Store

# tex related
*.gz
*.aux
*.bbl
*.blg
*.log

# literature folder
/literatur/*
/submission/*

# R related
*.Rhistory
*result_msci_market_factors*
r_project/data_in/*
r_project/data_out/*
r_project/data_out_2025/*
r_project/data_out_2025-emp/*
r_project/data_out_2025-2/*
r_project/nav_returns/*
r_project/data_private_public/*
r_project/data_idi/*
r_project/data_prepared/*
r_project/data_prepared_sim/*
r_project/simulation/data_prepared_sim/*
r_project/simulation/data_prepared_sim-test2026*
r_project/simulation/data_results_sim/*

!r_project/data_out/cache_q_factors_EW_VYP_SL
!r_project/data_out/cache_q_factors_FW_VYP_SL
!r_project/data_out/cache_q_factors_EW_2011
!r_project/data_out/cache_q_factors_FW_2011

!r_project/data_out/cache_simulation_1000
!r_project/simulation/data_results_sim/data_out_2020